/* Login.css */
.login-background {
  background-color: #c2e6f3;
  /* background-image: url('../assets/logo.png'); 
  background-repeat: repeat;
  background-size: 200px auto;
  background-position: center;
  background-attachment: fixed; */
}

.login-card {
  width: 100%;
  max-width: 400px;
  background-color: rgba(69, 11, 11, 0.95);
  border: none;
}
