body {
  background-color: #f4f6f8;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  font-size: 14px;
  color: #212529;
  overflow-x: hidden;
}
h1,h2,h3,h4 {
  font-size: 1.5rem !important;
}
h5 {
  font-size: 1rem !important;
}
.card {
  border: none;
  border-radius: 16px !important;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

input.form-control {
  border-radius: 12px !important;
  height: 36px;
  font-size: 14px;
}

.card h6 {
  font-size: 0.85rem;
}

.card h2, .card h5, .card h6.fw-bold {
  font-weight: 600;
}

.txt-inst{
      font-size: 13px;
    margin-top: 1rem;
}
.prev-device-status{
  text-transform: capitalize;
}


/* styles.css */
.pulse-dot {
  width: 10px;
  height: 10px;
  background-color: #28a745; /* Bootstrap's green */
  border-radius: 50%;
  animation: pulse 1.2s infinite;
  display: inline-block;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.6);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.device-detail-wrapper::-webkit-scrollbar {
  width: 6px;
}
.device-detail-wrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

/* In your global CSS or component */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 10px;
}
.alt{
  color: #000 !important;
}
@media (max-width: 900px) {
  .notification-panel {
    display: none !important;
  }
  .performance-card {
    padding: 0rem 0rem !important; /* smaller padding on mobile */
  }
  .nnn{
    display: none !important;
  }
}